
.book-now{
    background-color: black;
    color: white;
    padding: 10px 40px;
    border-radius: 30px;
}
.card-class{
    padding: 4px 20px;
    border-radius: 30px;
    box-shadow: 0px 3px #979797;
    border-top: none;
    margin-top: 35px;
    
}
p{
    color: black;
    padding-left: 5px;
    font-family:var(--font-family-primary);
}
