<section>
  <div class="col-12">
    <div class="rounded mh-190 shadow d-flex">
      <div class="col p-3 text-left">
        <h3 class="text-capitalize text-left h5">Maximize Your Travels with Dash Coins!</h3>
        <p class="regular text-muted text-left">Earn Dash Coins effortlessly with Dashtiny and unlock exclusive benefits for your next adventure.</p>
        <div class="row">
          <!-- Section: How to Earn Dash Coins -->
<div class="col-6">
<h4 class="text-left h6">Ways to Earn Dash Coins:</h4>
<ul class="list-group">
<li class="list-group-item d-flex"> <div class="col px-0">Register on our platform</div> <div class="dash-coins">50 Dash Coins</div></li>
<li class="list-group-item d-flex"><div class="col px-0">Complete your profile</div> <div class="dash-coins">30 Dash Coins</div></li>
<li class="list-group-item d-flex"><div class="col px-0">Provide trip suggestions</div> <div class="dash-coins">20 Dash Coins each</div></li>
<li class="list-group-item d-flex"><div class="col px-0">Book a trip on our platform</div> <div class="dash-coins">100 Dash Coins</div></li>
<li class="list-group-item d-flex"><div class="col px-0">Refer a friend</div> <div class="dash-coins">50 Dash Coins for both</div></li>
</ul>
</div>

<!-- Section: How to Use Dash Coins -->
<div class="col-6">
<h4 class="text-left h6">Make the Most of Your Dash Coins:</h4>
<ul class="list-group">
<li class="list-group-item d-flex"><div class="col px-0">Post your own trip</div> <div class="dash-coins">200 Dash Coins</div></li>
<li class="list-group-item d-flex"><div class="col px-0">Connect with other users</div> <div class="dash-coins">10 Dash Coins each</div></li>
<li class="list-group-item d-flex"><div class="col px-0">Get discounts on bookings</div> <div class="dash-coins">50 Dash Coins for 10% discount</div></li>
<li class="list-group-item d-flex"><div class="col px-0">Upgrade to premium membership</div> <div class="dash-coins">500 Dash Coins</div></li>
<li class="list-group-item d-flex"><div class="col px-0">Redeem rewards from our partners</div> <div class="dash-coins">Varies</div></li>
</ul>
</div>
        </div>
      </div>
      <div class="col-2 bg-dashcoin d-flex align-items-center justify-content-center"><img
          src="../../../../../assets/dash-coin.png" alt="dash coins" class="img-fluid p-3"></div>
    </div>
  </div>
</section>