<div class="bus-card mb-3">
<section class="bus-name-price d-flex-row">
<p class="bus-name ml-5 mb-0">InterCity SmartBus</p>
<p class="bus-price mr-5 mb-0">₹589</p>
</section>
<section class="travel-info d-flex-row">
<section class="date-time-city d-flex-col mr-4">
<p class="date">07 oct</p>
<p class="time">22:30</p>
<p class="city">Delhi</p>
</section>
<div class="dot"></div>
<div class="line"></div>
<p class="time-duration">8h 10m</p>
<div class="line"></div>
<div class="dot"></div>
<section class="date-time-city d-flex-col ml-4">
    <p class="date">08 oct</p>
    <p class="time">06:40</p>
    <p class="city">Kanpur</p>
</section>
</section>
<section class="bus-other-info d-flex-row mt-2">
<section class="bus-rating-tracking d-flex-col ml-5">
    <div class="d-flex-row">
    <span class="material-symbols-outlined notranslate">
        star
        </span>
        <p class="mb-0 ml-1">4.5/5</p>
        <div class="vertical-line ml-2"></div>
        <p class="mb-0 ml-2">20 ratings</p>
    </div>
    <div class="d-flex-row">
        <span class="material-symbols-outlined notranslate">
            location_on
            </span>
            <p class="ml-2">Live Tracking</p>
    </div>
</section>
<section class="bus-seats-info d-flex-col mr-5">
<p class="mb-0">10 Seats Left</p>
<p>10 Windows Seat</p>
</section>
</section>
<hr class="horizontal-full-line mb-0">
<section class="d-flex-row options mt-2">
    <ul class="d-flex-row mb-0">
        <li class="d-flex-row">
            <p class="ml-5 mt-2">Amenities & Photos</p>
            <span class="material-symbols-outlined notranslate downArrow mt-2">
                expand_more
                </span>
        </li>
        <li class="d-flex-row">
            <p class="ml-3 mt-2">Reviews</p>
            <span class="material-symbols-outlined notranslate downArrow mt-2">
                expand_more
                </span>
        </li>
        <li class="d-flex-row">
            <p class="ml-3 mt-2">Policies</p>
            <span class="material-symbols-outlined notranslate downArrow mt-2">
                expand_more
                </span>
        </li>
        <li class="d-flex-row">
            <p class="ml-3 mt-2">Boarding & Dropping</p>
            <span class="material-symbols-outlined notranslate downArrow mt-2">
                expand_more
                </span>
        </li>




</ul>
<!-- <button class="select-seats-button mr-5"><p class="mb-0">Select Seats</p></button> -->
<button type="button" class="select-seats-button mr-5 btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <p class="mb-0">Select Seats</p>
  </button>

  <!-- Modal -->
  <app-bus-select-seats-popup></app-bus-select-seats-popup>
</section>
</div>
<div class="bus-card">
    <section class="bus-name-price d-flex-row">
    <p class="bus-name ml-5 mb-0">InterCity SmartBus</p>
    <p class="bus-price mr-5 mb-0">₹589</p>
    </section>
    <section class="travel-info d-flex-row">
    <section class="date-time-city d-flex-col mr-4">
    <p class="date">07 oct</p>
    <p class="time">22:30</p>
    <p class="city">Delhi</p>
    </section>
    <div class="dot"></div>
    <div class="line"></div>
    <p class="time-duration">8h 10m</p>
    <div class="line"></div>
    <div class="dot"></div>
    <section class="date-time-city d-flex-col ml-4">
        <p class="date">08 oct</p>
        <p class="time">06:40</p>
        <p class="city">Kanpur</p>
    </section>
    </section>
    <section class="bus-other-info d-flex-row mt-2">
    <section class="bus-rating-tracking d-flex-col ml-5">
        <div class="d-flex-row">
        <span class="material-symbols-outlined notranslate">
            star
            </span>
            <p class="mb-0 ml-1">4.5/5</p>
            <div class="vertical-line ml-2"></div>
            <p class="mb-0 ml-2">20 ratings</p>
        </div>
        <div class="d-flex-row">
            <span class="material-symbols-outlined notranslate">
                location_on
                </span>
                <p class="ml-2">Live Tracking</p>
        </div>
    </section>
    <section class="bus-seats-info d-flex-col mr-5">
    <p class="mb-0">10 Seats Left</p>
    <p>10 Windows Seat</p>
    </section>
    </section>
    <hr class="horizontal-full-line mb-0">
    <section class="d-flex-row options mt-2">
        <ul class="d-flex-row mb-0">
            <li class="d-flex-row">
                <p class="ml-5 mt-2">Amenities & Photos</p>
                <span class="material-symbols-outlined notranslate downArrow mt-2">
                    expand_more
                    </span>
            </li>
            <li class="d-flex-row">
                <p class="ml-3 mt-2">Reviews</p>
                <span class="material-symbols-outlined notranslate downArrow mt-2">
                    expand_more
                    </span>
            </li>
            <li class="d-flex-row">
                <p class="ml-3 mt-2">Policies</p>
                <span class="material-symbols-outlined notranslate downArrow mt-2">
                    expand_more
                    </span>
            </li>
            <li class="d-flex-row">
                <p class="ml-3 mt-2">Boarding & Dropping</p>
                <span class="material-symbols-outlined notranslate downArrow mt-2">
                    expand_more
                    </span>
            </li>




    </ul>
    <!-- <button class="select-seats-button mr-5"><p class="mb-0">Select Seats</p></button> -->
    <!-- Button trigger modal -->
<button type="button" class="select-seats-button mr-5 btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <p class="mb-0">Select Seats</p>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
    </section>
    </div>
