
<div class="train-card mb-3">
    <div class="d-flex mt-3">
    <section class="train-name d-flex ml-5">
<p>23451</p>
<p class="ml-3">Shakti Express</p>
</section>
<section class="days d-flex">
<div *ngFor="let day of days">
<p class="mr-3">{{day}}</p>
</div>
</section>
</div>
<section class="train-time-duration d-flex mt-3">
<p>13:00</p>
<p class="ml-3">CNB</p>
<div class="dot ml-3"></div>
<div class="line"></div>
<p>3h 10m</p>
<div class="line"></div>
<div class="dot"></div>
<p class="ml-3">16:10</p>
<p class="ml-3">NDLS</p>
</section>
<section class="train-classes-cards">
<app-train-classes-card></app-train-classes-card>

</section>
</div>
<div class="train-card">
    <div class="d-flex mt-3">
    <section class="train-name d-flex ml-5">
<p>23451</p>
<p class="ml-3">Shakti Express</p>
</section>
<section class="days d-flex">
<div *ngFor="let day of days">
<p class="mr-3">{{day}}</p>
</div>
</section>
</div>
<section class="train-time-duration d-flex mt-3">
<p>13:00</p>
<p class="ml-3">CNB</p>
<div class="dot ml-3"></div>
<div class="line"></div>
<p>3h 10m</p>
<div class="line"></div>
<div class="dot"></div>
<p class="ml-3">16:10</p>
<p class="ml-3">NDLS</p>
</section>
<section class="train-classes-cards">
<app-train-classes-card></app-train-classes-card>

</section>
</div>
