.suggestion-form {
  .form-group {
      position: relative;
      label {
          position: absolute;
          left:25px;
          top:5px;
          z-index: 2;
      }
  }
  .form-control{
      height:100px;
      border-radius: 0;
  }
  select.form-control {
      height: 100px;
  }
}
::ng-deep .dropdown-menu {
  width:100% !important;
}
.custom-input {
  div{
      top:80px;
      left:8px;
      select {
          border: none;
      }
      &select:active {
          border:none;
      }
  }
}
::ng-deep .custom-dropdown {
  display: none !important;
  position: absolute;
  width:100%;
  border:1px solid #ccc;
  left:0 !important;
  background: #fff;
}
::ng-deep .custom-dropdown.show {
  display: block !important;
}
.custom-dropdown > div {
  top: auto;
  left: auto;
  div {
      top: auto;
  left: auto;
  }
} 
.add-sub-btn {
  width: 40px;
} 
.Passengers-number {
  width:50px;
  text-align: center;
  display: inline-block;
}
.no-of-passenger, .cabin-class span {
  width: 105px !important;
  display: inline-block;
}
.custom-sub-dropdown {
  position: relative;
  display: inline-block;
}

.custom-sub-dropdown button.dropdown-toggle {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 4px;
  text-align: left;
  cursor: pointer;
  position: relative;
}
.dropdown-toggle::after{
  right: 10px;
  top: 50%;
  position: absolute;
}

.custom-sub-dropdown ul.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.custom-sub-dropdown ul.dropdown-menu li {
  padding: 8px 12px;
}

.custom-sub-dropdown ul.dropdown-menu li a {
  text-decoration: none;
  color: #333;
  display: block;
  transition: background-color 0.2s;
}

.custom-sub-dropdown ul.dropdown-menu li a:hover {
  background-color: #f0f0f0;
}

.custom-sub-dropdown.open ul.dropdown-menu {
  display: block;
}
.selected {
  background: var(--success-color);
  color:#fff;
}
.form-check-input:checked{
  background-color: var(--success-color);;
  border-color: var(--success-color);
}
.clear-icon {
  position: absolute;
  right: 10px;
  top: 40%;
  cursor: pointer;
}
.form-check.selected, .form-check.not-selected {
  border-radius: 25px;
  padding: 5px;
}
.list-group-item.active {
  background-color: #007bff;
  color: #ffffff;
}
.suggestions-list {
position: absolute;
z-index: 9999;
max-height: 300px;
overflow-y: auto;
width: 100%;
text-align: left;
}