<div class=" row">
  <div class="col m-2">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/adipurush.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Adipurush</h5>
        <div class="d-flex">
          <span class="material-symbols-outlined notranslate">
            star
          </span>
          <p>5.5/10 ratings</p>
        </div>
        <p class="card-text">Hindi</p>
        <a href="#" class="btn btn-primary">Book Tickets</a>
      </div>
    </div>
  </div>
  <div class="col m-2">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/shazam.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Shazam</h5>
        <div class="d-flex">
          <span class="material-symbols-outlined notranslate">
            star
          </span>
          <p>8.5/10 ratings</p>
        </div>
        <p class="card-text">Hindi</p>
        <a href="#" class="btn btn-primary">Book Tickets</a>
      </div>
    </div>
  </div>
  <div class="col m-2">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/extraction_2.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Extraction_2</h5>
        <div class="d-flex">
          <span class="material-symbols-outlined notranslate">
            star
          </span>
          <p>8.5/10 ratings</p>
        </div>
        <p class="card-text">Hindi</p>
        <a href="#" class="btn btn-primary">Book Tickets</a>
      </div>
    </div>
  </div>
  <div class="col m-2">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/Mission_Raniganj.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Mission Raniganj</h5>
        <div class="d-flex">
          <span class="material-symbols-outlined notranslate">
            star
          </span>
          <p>8.5/10 ratings</p>
        </div>
        <p class="card-text">Hindi</p>
        <a href="#" class="btn btn-primary">Book Tickets</a>
      </div>
    </div>
  </div>

  <div class="col m-2">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/Bloody_Daddy.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Bloody Daddy</h5>
        <div class="d-flex">
          <span class="material-symbols-outlined notranslate">
            star
          </span>
          <p>8.5/10 ratings</p>
        </div>
        <p class="card-text">Hindi</p>
        <a href="#" class="btn btn-primary">Book Tickets</a>
      </div>
    </div>
  </div>


  <div class="col m-2">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/jawan.jpeg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Jawan</h5>
        <div class="d-flex">
          <span class="material-symbols-outlined notranslate">
            star
          </span>
          <p>8.5/10 ratings</p>
        </div>
        <p class="card-text">Hindi</p>
        <a href="#" class="btn btn-primary">Book Tickets</a>
      </div>
    </div>
  </div>
</div>
