<!-- Bootstrap Modal -->
<div class="w-100" id="chatPopupModal" tabindex="-1" role="dialog" aria-labelledby="chatPopupModalLabel">
  <div class="modal-dialog modal-fullscreen" role="document">
    <div class="modal-content">


      <div class="modal-body diana-chat-container p-0 d-flex">
        <div class="sidebar-container">
          <!-- Toggle Button -->
          <span class="toggle-sidebar-btn" (click)="toggleSidebar()" [class.collapsed]="isSidebarCollapsed">
            <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M2 7.81125V16.1913C2 17.6813 2.36 18.9212 3.05 19.8713C3.34 20.2913 3.71 20.6612 4.13 20.9513C4.95 21.5513 5.99 21.9012 7.22 21.9812V2.03125C3.94 2.24125 2 4.37125 2 7.81125Z"
                fill="#fe8535" />
              <path
                d="M20.9507 4.13C20.6607 3.71 20.2907 3.34 19.8707 3.05C18.9207 2.36 17.6807 2 16.1907 2H8.7207V22H16.1907C19.8307 22 22.0007 19.83 22.0007 16.19V7.81C22.0007 6.32 21.6407 5.08 20.9507 4.13ZM15.5007 14.03C15.7907 14.32 15.7907 14.8 15.5007 15.09C15.3507 15.24 15.1607 15.31 14.9707 15.31C14.7807 15.31 14.5907 15.24 14.4407 15.09L11.8807 12.53C11.5907 12.24 11.5907 11.76 11.8807 11.47L14.4407 8.91C14.7307 8.62 15.2107 8.62 15.5007 8.91C15.7907 9.2 15.7907 9.68 15.5007 9.97L13.4807 12L15.5007 14.03Z"
                fill="#fe8535" />
            </svg>
          </span>

          <!-- Sidebar -->
          <div class="sidebar my-0 col-12" [class.collapsed]="isSidebarCollapsed">
            <div class="sidebar-content">
              <div class="d-flex align-items-center">
                <div class=" d-flex justify-content-center align-items-center">
                  <div class="diana-logo">
                    <img src="../../../../assets/ai/daina.png" />
                  </div>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseClick()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <ul class="nav nav-tabs d-flex align-items-center justify-content-center" id="myTab" role="tablist">
                <li class="nav-item flex-row w-100 mt-3">
                  <a class="nav-link active d-flex align-items-center p-3" id="chat-tab" data-toggle="tab" href="#chat"
                    role="tab" aria-controls="chat" aria-selected="true">
                    <svg class="stone_een" height="30px" width="30px" version="1.1" id="Capa_1"
                      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 60 60"
                      xml:space="preserve">
                      <g>
                        <path d="M44.348,12.793H2.652C1.189,12.793,0,13.982,0,15.445v43.762l9.414-9.414h34.934c1.463,0,2.652-1.19,2.652-2.653V15.445
		C47,13.982,45.811,12.793,44.348,12.793z M10,35.777c-2.206,0-4-1.794-4-4s1.794-4,4-4s4,1.794,4,4S12.206,35.777,10,35.777z
		 M23,35.777c-2.206,0-4-1.794-4-4s1.794-4,4-4s4,1.794,4,4S25.206,35.777,23,35.777z M36,35.777c-2.206,0-4-1.794-4-4s1.794-4,4-4
		s4,1.794,4,4S38.206,35.777,36,35.777z" />
                        <path d="M57.348,0.793H12.652C11.189,0.793,10,1.982,10,3.445v7.348h34.348c2.565,0,4.652,2.087,4.652,4.652v25.332h11V3.445
		C60,1.982,58.811,0.793,57.348,0.793z" />
                      </g>
                    </svg>
                    <span class="nav-text ml-3">Chat</span>
                  </a>
                </li>
                <li class="nav-item flex-row w-100 mt-3">
                  <a class="nav-link d-flex align-items-center" id="plan-tab" data-toggle="tab" href="#plan" role="tab"
                    aria-controls="plan" aria-selected="false">
                    <svg version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px" viewBox="0 0 32 32"
                      xml:space="preserve">

                      <path class="stone_een" d="M26,1H6C4.9,1,4,1.9,4,3v26c0,1.1,0.9,2,2,2h20c1.1,0,2-0.9,2-2V3C28,1.9,27.1,1,26,1z M10,23
	c-0.552,0-1-0.448-1-1c0-0.552,0.448-1,1-1s1,0.448,1,1S10.552,23,10,23z M10,19c-0.552,0-1-0.448-1-1
	c0-0.552,0.448-1,1-1s1,0.448,1,1S10.552,19,10,19z M10,15c-0.552,0-1-0.448-1-1c0-0.552,0.448-1,1-1s1,0.448,1,1
	C11,14.552,10.552,15,10,15z M10,11c-0.552,0-1-0.448-1-1c0-0.552,0.448-1,1-1s1,0.448,1,1C11,10.552,10.552,11,10,11z M22,23h-8
	c-0.552,0-1-0.448-1-1s0.448-1,1-1h8c0.552,0,1,0.448,1,1S22.552,23,22,23z M22,19h-8c-0.552,0-1-0.448-1-1s0.448-1,1-1h8
	c0.552,0,1,0.448,1,1S22.552,19,22,19z M22,15h-8c-0.552,0-1-0.448-1-1s0.448-1,1-1h8c0.552,0,1,0.448,1,1S22.552,15,22,15z M22,11
	h-8c-0.552,0-1-0.448-1-1s0.448-1,1-1h8c0.552,0,1,0.448,1,1S22.552,11,22,11z" />
                    </svg>
                    <span class="nav-text ml-3">Plan getaway</span>
                  </a>
                </li>
                <li class="nav-item flex-row w-100 mt-3">
                  <a class="nav-link d-flex align-items-center" id="subscription-tab" data-toggle="tab"
                    href="#subscription" role="tab" aria-controls="subscription" aria-selected="false">
                    <svg version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px" viewBox="0 0 32 32"
                      xml:space="preserve">
                      <path class="stone_een" d="M27,6h-5.292c-0.466,0-0.925-0.108-1.342-0.317l-6.733-3.367C13.217,2.108,12.758,2,12.292,2H5
	C3.343,2,2,3.343,2,5v18c0,1.657,1.343,3,3,3h6.75c0.492,0,0.977,0.121,1.412,0.353l6.176,3.294C19.773,29.879,20.258,30,20.75,30
	H27c1.657,0,3-1.343,3-3V9C30,7.343,28.657,6,27,6z M12,23.5c0,0.276-0.224,0.5-0.5,0.5S11,23.776,11,23.5v-1
	c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5V23.5z M12,20.5c0,0.276-0.224,0.5-0.5,0.5S11,20.776,11,20.5v-1
	c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5V20.5z M12,17.5c0,0.276-0.224,0.5-0.5,0.5S11,17.776,11,17.5v-1
	c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5V17.5z M12,14.5c0,0.276-0.224,0.5-0.5,0.5S11,14.776,11,14.5v-1
	c0-0.276,0.448-1,1-1s1,0.224,1,0.5V14.5z M12,11.5c0,0.276-0.224,0.5-0.5,0.5S11,11.776,11,11.5v-1
	c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5V11.5z M12,8.5C12,8.776,11.776,9,11.5,9S11,8.776,11,8.5v-1C11,7.224,11.224,7,11.5,7
	S12,7.224,12,7.5V8.5z M12,5.5C12,5.776,11.776,6,11.5,6S11,5.776,11,5.5v-1C11,4.224,11.224,4,11.5,4S12,4.224,12,4.5V5.5z
	 M21,27.5c0,0.276-0.224,0.5-0.5,0.5S20,27.776,20,27.5v-1c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5V27.5z M21,24.5
	c0,0.276-0.224,0.5-0.5,0.5S20,24.776,20,24.5v-1c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5V24.5z M21,21.5
	c0,0.276-0.224,0.5-0.5,0.5S20,21.776,20,21.5v-1c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5V21.5z M21,18.5
	c0,0.276-0.224,0.5-0.5,0.5S20,18.776,20,18.5v-1c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5V18.5z M21,15.5
	c0,0.276-0.224,0.5-0.5,0.5S20,15.776,20,15.5v-1c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5V15.5z M21,12.5
	c0,0.276-0.224,0.5-0.5,0.5S20,12.776,20,12.5v-1c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5V12.5z M21,9.5
	c0,0.276-0.224,0.5-0.5,0.5S20,9.776,20,9.5v-1C20,8.224,20.224,8,20.5,8S21,8.224,21,8.5V9.5z M27.854,27.146
	c0.195,0.195,0.195,0.512,0,0.707C27.756,27.951,27.628,28,27.5,28s-0.256-0.049-0.354-0.146L26,26.707l-1.146,1.146
	C24.756,27.951,24.628,28,24.5,28s-0.256-0.049-0.354-0.146c-0.195-0.195-0.195-0.512,0-0.707L25.293,26l-1.146-1.146
	c-0.195-0.195-0.195-0.512,0-0.707s0.512-0.195,0.707,0L26,25.293l1.146-1.146c0.195-0.195,0.512-0.195,0.707,0s0.195,0.512,0,0.707
	L26.707,26L27.854,27.146z" />
                    </svg>
                    <span class="nav-text ml-3">Find getaways</span>
                  </a>
                </li>
                <li class="nav-item flex-row w-100 mt-3">
                  <a class="nav-link d-flex align-items-center" id="updates-tab" data-toggle="tab" href="#updates"
                    role="tab" aria-controls="updates" aria-selected="false">
                    <svg height="30px" width="30px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 484.504 484.504" xml:space="preserve">
                      <g>
                        <g>
                          <path class="stone_een" d="M217.495,182.239c4.311-2.849,8.33-5.529,11.979-7.737c8.688-5.25,11.482-16.554,6.214-25.239
			c-5.238-8.689-16.546-11.461-25.228-6.223c-4.053,2.445-8.521,5.403-13.291,8.56c-15.428,10.229-38.895,26.148-52.063,22.426
			c-9.625-2.72-10.786-9.35-13.954-14.155c-6.818-12.582-21.304-20.933-34.394-20.66c0,0-11.675,0-25.898,5.596
			C6.77,167.663,6.599,182.826,6.607,190.242c0.009,6.763,0.148,13.298,19.12,24.331H0.061L0,428.281h160.066l10.625-97.807
			c0,0-53.075-3.91-79.508-7.738c-31.757-4.598-37.31-33.873-37.31-33.873l-16.527-68.152c9.471,4.613,21.767,9.904,38,16.161
			c2.173,0.835,4.403,1.232,6.6,1.232c7.385,0,14.343-4.48,17.161-11.773c3.648-9.479-1.077-20.123-10.55-23.768
			c-9.992-3.85-21.175-8.567-30.436-12.829c1.586-0.731,3.328-1.483,5.045-2.242l25.673,10.199
			c15.497,5.984,19.826,18.521,15.244,30.435c-3.421,8.887-13.746,19.954-31.866,12.799c-5.595-2.208-10.633-4.17-15.406-6.138
			l7.973,51.806c2.271,14.746,11.323,22.381,27.008,26.607c7.576,3.164,89.693,9.396,89.693,9.396
			c-2.765,32.17-8.396,84.957-9.074,91.129c-1.841,12.832,6.466,25.123,19.312,28.02c1.856,0.412,3.714,0.611,5.527,0.611
			c11.468,0,21.809-7.922,24.431-19.574c1.103-4.912,10.737-119.828,10.828-120.973c0.579-6.967-2.082-14.563-6.798-19.717
			c-6.053-6.619-11.479-12.469-75.965-14.654l-8.762-56.881c2.623,0.394,5.247,0.656,7.876,0.656
			C173.806,211.214,198.637,194.748,217.495,182.239z" />
                          <circle class="stone_een" cx="89.108" cy="89.494" r="47.348" />
                          <path class="stone_een" d="M484.446,214.573h-25.668c18.972-11.033,19.112-17.568,19.12-24.331
			c0.008-7.416-0.162-22.579-64.253-45.435c-14.225-5.596-25.897-5.596-25.897-5.596c-13.091-0.273-27.576,8.078-34.394,20.66
			c-3.17,4.805-4.329,11.436-13.954,14.155c-13.169,3.723-36.637-12.197-52.063-22.426c-4.771-3.156-9.238-6.115-13.293-8.56
			c-8.68-5.239-19.988-2.466-25.227,6.223c-5.27,8.685-2.475,19.989,6.214,25.239c3.648,2.208,7.669,4.888,11.979,7.737
			c18.857,12.509,43.688,28.975,68.634,28.975c2.629,0,5.254-0.262,7.876-0.656l-8.761,56.881
			c-64.486,2.186-69.912,8.035-75.966,14.654c-4.717,5.154-7.377,12.75-6.797,19.717c0.091,1.145,9.725,116.061,10.827,120.973
			c2.623,11.652,12.964,19.574,24.432,19.574c1.813,0,3.67-0.199,5.526-0.611c12.845-2.896,21.153-15.188,19.313-28.02
			c-0.68-6.172-6.312-58.959-9.074-91.129c0,0,82.117-6.232,89.693-9.396c15.684-4.227,24.735-11.861,27.008-26.607l7.972-51.806
			c-4.772,1.968-9.813,3.929-15.406,6.138c-18.12,7.154-28.445-3.913-31.866-12.799c-4.583-11.914-0.253-24.451,15.244-30.435
			l25.672-10.199c1.719,0.759,3.46,1.51,5.046,2.242c-9.26,4.262-20.442,8.979-30.435,12.829
			c-9.474,3.645-14.199,14.289-10.551,23.768c2.818,7.293,9.776,11.773,17.16,11.773c2.197,0,4.429-0.397,6.602-1.232
			c16.232-6.256,28.528-11.547,37.999-16.161l-16.527,68.152c0,0-5.553,29.275-37.31,33.873
			c-26.433,3.828-79.507,7.738-79.507,7.738l10.624,97.807h160.066L484.446,214.573z" />
                          <circle class="stone_een" cx="395.399" cy="89.494" r="47.348" />
                        </g>
                      </g>
                    </svg>
                    <span class="nav-text ml-3">Find companion</span>
                  </a>
                </li>

              </ul>
            </div>
          </div>
        </div>

        <div class="chat-content-container my-3 d-flex flex-grow-1">
          <div class="chat-content my-0 p-0" [style.flex]="chatContentWidth">
            <div class="tab-heading p-3 ">
              <h4 class="mb-0">Chat</h4>
            </div>
            <div class="tab-content p-0">  <!-- Changed from p-3 pt-4 to p-0 -->
              <div class="tab-pane fade show active" id="chat" role="tabpanel" aria-labelledby="chat-tab">
                <div class="chat-container">
                  <!-- Welcome Message -->
                  <div *ngIf="chatHistory.length === 0" class="welcome-container">
                    <h1 class="gradient-text">Welcome to DAIna</h1>
                    <p class="subtitle">Your Personal Trip Planner</p>
                  </div>

                  <!-- Chat Messages -->
                  <div *ngIf="chatHistory.length > 0">
                    <div class="message" [ngClass]="{'user-message': message.from === 'user', 'bot-message': message.from === 'bot'}" *ngFor="let message of chatHistory">
                      <div class="message-content">
                        <!-- Loading/Processing message -->
                        <div *ngIf="message.isProcessing" class="loading-animation">
                          <div class="typing-indicator">
                            <div class="typing-circle"></div>
                            <div class="typing-circle"></div>
                            <div class="typing-circle"></div>
                          </div>
                          <div class="typing-text">{{ currentTypingText }}</div>
                        </div>

                        <!-- Regular message content -->
                        <ng-container *ngIf="!message.isProcessing">
                          <!-- For itinerary messages -->
                          <div *ngIf="message.type === 'itinerary'" class="itinerary-message">
                            <app-itinerary-preview 
                              [data]="message.parsedData"
                              class="full-width-itinerary">
                            </app-itinerary-preview>
                          </div>
                          
                          <!-- For text messages -->
                          <div *ngIf="message.type === 'text'" [innerHTML]="formatMessage(message.message)"></div>
                        </ng-container>
                      </div>
                      
                      <div class="message-timestamp">
                        {{ message.timestamp | date:'short' }}
                      </div>
                    </div>
                  </div>

                  <!-- Error Message -->
                  <div *ngIf="errorMessage" class="error-message alert alert-danger">
                    {{ errorMessage }}
                    <button type="button" class="close" (click)="errorMessage = ''">
                      <span>&times;</span>
                    </button>
                  </div>

                  <!-- Chat Input -->
                  <div class="chat-footer">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="material-icons">add</i>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" (click)="openTravelPrompt()">
                            <i class="material-icons">flight</i>
                            Plan a Trip
                          </a>
                          <ul class="dropdown-menu">
                            <li>
                              <a class="dropdown-item" (click)="openTravelPrompt($event); $event.preventDefault();">
                                <i class="material-icons">flight</i>
                                <span>Create Travel Itinerary</span>
                              </a>
                            </li>
                            <li>
                              <a class="dropdown-item" (click)="$event.preventDefault();">
                                <i class="material-icons">hotel</i>
                                <span>Find Hotels</span>
                              </a>
                            </li>
                            <li>
                              <a class="dropdown-item" (click)="$event.preventDefault();">
                                <i class="material-icons">directions_car</i>
                                <span>Book Transport</span>
                              </a>
                            </li>
                            <li>
                              <a class="dropdown-item" (click)="$event.preventDefault();">
                                <i class="material-icons">restaurant</i>
                                <span>Food Recommendations</span>
                              </a>
                            </li>
                            <li>
                              <a class="dropdown-item" (click)="$event.preventDefault();">
                                <i class="material-icons">attractions</i>
                                <span>Local Activities</span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <!-- Rest of the chat input -->
                      <input [(ngModel)]="userMessage" 
                             type="text" 
                             class="form-control"
                             placeholder="Type your message..." 
                             [disabled]="isProcessing" 
                             (keydown.enter)="sendMessage()">

                      <div class="input-group-append">
                        <button class="btn btn-primary" 
                                [disabled]="isProcessing || !userMessage.trim()"
                                (click)="sendMessage()">
                          <i class="material-icons">send</i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="tab-pane fade" id="plan" role="tabpanel" aria-labelledby="plan-tab">
                <!-- Plan Your Getaway Content -->
                <div class="col-12 bg-custom">
                  <h5 class="text-center pt-2 mb-4">Plan Your Getaway</h5>
                  <div class="row justify-content-center">
                    <div class="col-12 px-0">
                      <form class="trip-form row p-3" [formGroup]="tripForm">
                        <!-- ...existing form content... -->
                      </form>
                    </div>
                  </div>
                </div>

                <div class="itinerary-section" *ngIf="itinerary">
                  <app-itinerary-preview [data]="itinerary"></app-itinerary-preview>
                </div>
              </div>

              <div class="tab-pane fade" id="subscription" role="tabpanel" aria-labelledby="subscription-tab">
                <!-- Placeholder for Subscription content -->
              </div>
              <div class="tab-pane fade" id="updates" role="tabpanel" aria-labelledby="updates-tab">
                <!-- Placeholder for Updates content -->
              </div>
              <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                <!-- Placeholder for Settings content -->
              </div>
            </div>
          </div>
          <div class="resizer" (mousedown)="startResize($event)"></div>
          <div class="history my-0 p-0" [style.flex]="historyWidth">
            <div class="history-header p-3 d-flex justify-content-between align-items-center">
              <h4 class="mb-0">Smart Suggestions</h4>
            </div>
            <div class="history-content">
              <app-suggestion-panel 
                [itineraryData]="currentItineraryData">
              </app-suggestion-panel>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- ...rest of existing code... -->