<footer class="footer mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">Flights</a></li>
          <li><a href="#">Hotels</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5>Contact Us</h5>
        <ul class="list-unstyled">
          <li class="text-white d-flex"><span class="material-symbols-outlined notranslate text-white pr-2">
            location_on
            </span> 123 Street, City, Country</li>
          <li  class="text-white d-flex"><span class="material-symbols-outlined notranslate text-white pr-2">
            call
            </span> +1234567890</li>
          <li class="text-white d-flex"><span class="material-symbols-outlined notranslate text-white pr-2">
            mail
            </span> info@example.com</li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <h5>Follow Us</h5>
        <ul class="list-unstyled social-icons">
          <li><a href="#"><img src="../../../../assets/facebook (1).png" alt=""></a></li>
          <li><a href="#"><img src="../../../../assets/instagram.png" alt=""></a></li>
          <li><a href="#"><img src="../../../../assets/twitter.png" alt=""></a></li>
          <li><a href="#"><img src="../../../../assets/linkedin.png" alt=""></a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <img src="../../../../assets/logo_big.png" class="img-fluid mb-4" alt="">
        <h5>Newsletter</h5>
        <p class="text-white">Subscribe to our newsletter to get updates.</p>
        <form>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Your Email" aria-label="Your Email" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" id="button-addon2">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="text-white">&copy; 2024 Dashtiny. All rights reserved.</p>
        </div>
        <div class="col-md-6">
          <ul class="list-inline text-md-right">
            <li class="list-inline-item"><a href="#">Terms of Use</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
