<!--====================================
=            Hero Section            =
=====================================-->
<section class="section gradient-banner">
	<div class="shapes-container">
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="1000" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300"></div>
		<div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="zoom-out" data-aos-duration="2000" data-aos-delay="500"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0"></div>
		<div class="shape" data-aos="fade-down" data-aos-duration="500" data-aos-delay="0"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="0"></div>
	</div>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6 order-2 order-md-1 text-center text-md-left">
				<h1 class="text-white font-weight-bold mb-4">Unlock Your Next Adventure with Dashtiny</h1>
				<p class="text-white mb-5">Where Wanderlust Meets Expertise: Explore the World with Confidence.</p>
				<a class="btn btn-main-md">Explore Now</a>
			</div>
			<div class="col-md-6 text-center order-1 order-md-2">
				<img class="img-fluid" src="../../assets/hero-bg.png" alt="screenshot">
			</div>
		</div>
	</div>
</section>
<!--====  End of Hero Section  ====-->

<section class="section pt-0 position-relative pull-top">
	<div class="container">
		<div class="rounded shadow p-5 bg-white">
			<div class="row">
				<div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
					<span class="text-dark material-symbols-outlined notranslate h1">
                        concierge
                        </span>
					<h3 class="mt-4 text-capitalize h5 ">Select a service</h3>
					<p class="regular text-muted">Choose from a range of exceptional services tailored to make your travel experience unforgettable.</p>
				</div>
				<div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
					<span class="text-dark h1 material-symbols-outlined notranslate">
                        support_agent
                        </span>
					<h3 class="mt-4 text-capitalize h5 ">Our team will connect with you</h3>
					<p class="regular text-muted">Once you've selected your desired service, our dedicated team will promptly get in touch with you.</p>
				</div>
				<div class="col-lg-4 col-md-12 mt-5 mt-lg-0 text-center">
					<span class="text-dark h1 material-symbols-outlined notranslate">
                        travel_explore
                        </span>
					<h3 class="mt-4 text-capitalize h5 ">Enjoy your seemless travel</h3>
					<p class="regular text-muted">We strive to provide you with a seamless journey, where all you need to do is sit back, relax, and enjoy the adventure.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!--==================================
=            Feature Grid            =
===================================-->
<section class="feature section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 ml-auto justify-content-center">
				<!-- Feature Mockup -->
				<div class="image-content" data-aos="fade-right">
					<img class="img-fluid" src="../../assets/guide.jpeg" alt="iphone">
				</div>
			</div>
			<div class="col-lg-6 mr-auto align-self-center">
				<div class="feature-content">
					<!-- Feature Title -->
					<h2>Personalized Adventures, Guided by Experts</h2>
					<!-- Feature Description -->
					<p class="desc">Discover the world's wonders with our seasoned travel guides by your side. From ancient ruins to bustling markets, our local experts will lead you on unforgettable journeys filled with history, culture, and hidden gems.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="feature section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 ml-auto align-self-center">
				<div class="feature-content">
					<!-- Feature Title -->
					<h2>Tailored Travel Experiences Crafted Just for You</h2>
					<!-- Feature Description -->
					<p>Let our travel agencies transform your dreams into reality. Whether you're seeking a luxurious escape or an off-the-beaten-path adventure, our team of professionals will curate the perfect itinerary to suit your tastes and preferences.</p>
				</div>
			</div>
			<div class="col-lg-6 mr-auto justify-content-center">
				<!-- Feature mockup -->
				<div class="image-content" data-aos="fade-left">
					<img class="img-fluid" src="../../assets/travelagency.jpeg" alt="ipad">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="feature section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 ml-auto justify-content-center">
				<!-- Feature Mockup -->
				<div class="image-content" data-aos="fade-right">
					<img class="img-fluid" src="../../assets/driver.jpeg" alt="iphone">
				</div>
			</div>
			<div class="col-lg-6 mr-auto align-self-center">
				<div class="feature-content">
					<!-- Feature Title -->
					<h2>Seamless Transfers, Expert Drivers, Effortless Journeys</h2>
					<!-- Feature Description -->
					<p class="desc">Sit back, relax, and enjoy the ride with our experienced drivers at the wheel. From airport pickups to scenic road trips, our chauffeurs ensure smooth and safe travels, allowing you to focus on soaking in the sights and sounds.</p>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="feature section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 ml-auto align-self-center">
				<div class="feature-content">
					<!-- Feature Title -->
					<h2>Simplify Your Travel Plans with Hassle-Free Visa Assistance</h2>
					<!-- Feature Description -->
					<p>Navigate the complexities of travel documents with ease. Our visa services streamline the application process, providing comprehensive guidance and support to ensure that your journey starts off on the right foot.</p>
				</div>
			</div>
			<div class="col-lg-6 mr-auto justify-content-center">
				<!-- Feature mockup -->
				<div class="image-content" data-aos="fade-left">
					<img class="img-fluid" src="../../assets/visa.jpeg" alt="ipad">
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Feature Grid  ====-->

<section class="call-to-action-app section bg-blue">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2>Get In Touch</h2>
				<p>Have questions or ready to start planning your next adventure? Our team is here to help! Reach out to us today to discuss your travel preferences, get personalized recommendations, and embark on a journey of a lifetime.

                    Feel free to contact us just fill out the form below, and we'll get back to you in a dash. Your dream vacation awaits, and we're excited to make it a reality!</p>
				<ul class="list-inline">
					<li class="list-inline-item">
						<a href="" class="btn btn-rounded-icon">
							<i class="ti-apple"></i>
							Get in touch
						</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</section>
