<div class="mt-4 d-flex train-classes-cards">
<div class="train-class-card">
<section class="train-class-name-price d-flex">
<p class="name ml-3">SL</p>
<p class="price mr-3">₹600</p>
</section>
<section class="train-available align-items-center">
    <p>RLWL9/WL9</p>
    <p>Available 0039</p>
</section>
<button><p>Book Now</p></button>
</div>
<div class="train-class-card">
    <section class="train-class-name-price d-flex">
    <p class="name ml-3">SL</p>
    <p class="price mr-3">₹600</p>
    </section>
    <section class="train-available align-items-center">
        <p>RLWL9/WL9</p>
        <p>Available 0039</p>
    </section>
    <button><p>Book Now</p></button>
    </div>
    <div class="train-class-card">
        <section class="train-class-name-price d-flex">
        <p class="name ml-3">SL</p>
        <p class="price mr-3">₹600</p>
        </section>
        <section class="train-available align-items-center">
            <p>RLWL9/WL9</p>
            <p>Available 0039</p>
        </section>
        <button><p>Book Now</p></button>
        </div>
        <div class="train-class-card">
            <section class="train-class-name-price d-flex">
            <p class="name ml-3">SL</p>
            <p class="price mr-3">₹600</p>
            </section>
            <section class="train-available align-items-center">
                <p>RLWL9/WL9</p>
                <p>Available 0039</p>
            </section>
            <button><p>Book Now</p></button>
            </div>
            <div class="train-class-card">
                <section class="train-class-name-price d-flex">
                <p class="name ml-3">SL</p>
                <p class="price mr-3">₹600</p>
                </section>
                <section class="train-available align-items-center">
                    <p>RLWL9/WL9</p>
                    <p>Available 0039</p>
                </section>
                <button><p>Book Now</p></button>
                </div>
            </div>
